h1{
    margin: 10px 0px 20px 0px;
    background-color: rgba(104, 226, 226, 0.13);
    padding: 10px;
}
.snow {
    
    font-size: larger;
margin: 10px 0px 10px 30px;
}
.snow-d {
    margin: 0px auto;
}
.but {
    margin: auto 0 10px 90%;
    font-size: larger;
    border-radius: 10px;
    align-items: flex-end ;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(5, 4, 56);
}
.but2 {
    font-size: larger;
    border-radius: 10px;
    align-items: flex-end ;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(5, 4, 56);
}
.main {
    border: rgba(0, 255, 255, 0.404) 10px double;
    border-radius: 40px;
        /* background-color: rgba(95, 158, 160, 0.363); */
}
.cont-list {
 color: rgb(9, 9, 99);
 background-color: rgba(181, 218, 218, 0.973);
 margin: 10px auto auto 40px;
 width: 300px;
 height: 25px;
 border-radius: 10px;


}
.cont-lab {
    font-weight: bold;
    font-size: 30px;
    padding-right: 30px;
    margin-left: 30px;
}
.qu {
    color: rgb(107, 99, 99);
    font-size: medium;
}
.img {margin: 20px 35% 0px ;
border-radius: 20px;


}
.cont-list2 {
 color: rgb(9, 9, 99);
 background-color: rgba(181, 218, 218, 0.973);
 margin: 10px auto auto 1px;
 width: 300px;
 height: 25px;
 border-radius: 10px;
}
.cont-lab2 {
    font-weight: bold;
    font-size: 30px;
    padding-right: 30px;
    margin: auto 0px auto 30px;
}